.container {
    margin: 200px auto 0;
    max-width: 1200px;
    text-align: center;
}
.title {
    font-size: 48px;
}
.input {
    height: 20px;
    width: 450px;
    margin: 10px auto 30px;
    display: block;
}
.btn {
    padding: 10px 20px;
    background: darkseagreen;
    border-radius: 5px;
    border: none;
}
